<!DOCTYPE html>
<html>
    <head>
        <title>Simple Navbar</title>
        <link rel="stylesheet" href="navbar.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <a class="link" href="#"><i class="fa fa-home"></i>Home</a>
            <a class="link" href="#"><i class="fa fa-question"></i>About</a>
            <a class="link" href="#"><i class="fa fa-phone"></i>Contact</a>
            <a class="link" href="#"><i class="fa fa-paw"></i>Dogs</a>
        </nav>
    </body>
</html>